In [2]:
import pandas as pd
import numpy as np

In [10]:
path = '/Online_Retail.csv'
df = pd.read_csv(path, encoding = 'windows-1254')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,4.95,12680.0,France

In [ ]:
print(df.isnull().sum())

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df.dropna(inplace=True)

In [7]:
df = df[df['Quantity'] > 0]

In [8]:
#2) Create a Dictionary with the 10 countries that have the most 'Quantity' ordered except UK
top_countries = df.groupby('Country').sum().sort_values(by='Quantity', ascending=False).drop('United Kingdom')

top_10_countries = top_countries.head(10)['Quantity'].to_dict()
print(top_10_countries)

{'Netherlands': 200937, 'EIRE': 140383, 'Germany': 119156, 'France': 111429, 'Australia': 84199, 'Sweden': 36078, 'Switzerland': 30083, 'Spain': 27944, 'Japan': 26016, 'Belgium': 23237}

<ipython-input-8-3eb09fa872a0>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  top_countries = df.groupby('Country').sum().sort_values(by='Quantity', ascending=False).drop('United Kingdom')

In [11]:
#3)  Find Total Sale between two dates entered by user

df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

date_begin = pd.Timestamp(input("Enter the begining date (YYYY-MM-DD): "))
date_end = pd.Timestamp(input("Enter the ending date (YYYY-MM-DD): "))

df_filtered = df[(df['InvoiceDate'] >= date_begin) & (df['InvoiceDate'] <= date_end)]

total_sale = (df_filtered['Quantity'] * df_filtered['UnitPrice']).sum()

print(f"Total sale between {date_begin} and {date_end} is {total_sale}")

Enter the begining date (YYYY-MM-DD): 12/1/10
Enter the ending date (YYYY-MM-DD): 12/2/10
Total sale between 2010-12-01 00:00:00 and 2010-12-02 00:00:00 is 58635.560000000005

In [12]:
#4) Find each Countries Total SALE to find which Countries is highest potential customer


total_sales_by_country = df.groupby('Country')['Quantity'].sum().sort_values(ascending=False)


highest_potential_country = total_sales_by_country.idxmax()
highest_potential_sales = total_sales_by_country.max()

print(f"The country with the highest sales potential is {highest_potential_country} with total sales of {highest_potential_sales}.")

The country with the highest sales potential is United Kingdom with total sales of 4263829.

In [19]:
#5) Which Customer Id has highest purchase in
#quantity and total and find out the country of it

# Calculate total purchase amount for each row
df['TotalPurchase'] = df['Quantity'] * df['UnitPrice']

# Aggregate data by CustomerID for total quantity and total purchase amount
aggregated_df = df.groupby('CustomerID').agg({
    'Quantity': 'sum',
    'TotalPurchase': 'sum'
}).reset_index()

# Identify the customer with the highest purchase in terms of quantity
customer_highest_quantity = aggregated_df.sort_values(by='Quantity', ascending=False).iloc[0]['CustomerID']

# Identify the customer with the highest purchase in terms of total value
customer_highest_total = aggregated_df.sort_values(by='TotalPurchase', ascending=False).iloc[0]['CustomerID']

# Assuming both highest quantity and total purchase are by the same customer (as seen in our earlier analysis)
country_of_customer = df[df['CustomerID'] == customer_highest_quantity]['Country'].unique()[0]

print(f"Customer ID with the highest purchase (both in terms of quantity and total): {customer_highest_quantity}")
print(f"Country of this customer: {country_of_customer}")

Customer ID with the highest purchase (both in terms of quantity and total): 14646.0
Country of this customer: Netherlands

In [21]:
#6) Which Customer Id has lowest purchase in quantity and total and find out the country of it

df['TotalPurchase'] = df['Quantity'] * df['UnitPrice']

grouped_data = df.groupby('CustomerID')
summed_data = grouped_data.sum()

sorted_by_quantity = summed_data.sort_values(by='Quantity')
lowest_quantity_customer = sorted_by_quantity.head(1)

sorted_by_total_purchase = summed_data.sort_values(by='TotalPurchase')
lowest_purchase_customer = sorted_by_total_purchase.head(1)

customer_country = df[df['CustomerID'] == lowest_quantity_customer.index[0]]['Country'].iloc[0]


print("The Customer ID with the lowest purchase in terms of quantity is:", lowest_quantity_customer.index[0])
print("The Customer ID with the lowest purchase in terms of total amount is:", lowest_purchase_customer.index[0])
print("The country of the customer is:", customer_country)

The Customer ID with the lowest purchase in terms of quantity is: 16546.0
The Customer ID with the lowest purchase in terms of total amount is: 17448.0
The country of the customer is: United Kingdom

<ipython-input-21-de3b3f469255>:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  summed_data = grouped_data.sum()

In [13]:
# 7) Find the biggest order In Sale (Cost) which country was the order from and fiind total purchase (Cost) done by that customer ID
df['TotalCost'] = df['Quantity'] * df['UnitPrice']


highest_invoice = df.groupby('InvoiceNo')['TotalCost'].sum().idxmax()


highest_order_details = df[df['InvoiceNo'] == highest_invoice].iloc[0]


country_of_highest_order = highest_order_details['Country']


customer_id_of_highest_order = highest_order_details['CustomerID']


total_purchase_by_customer = df[df['CustomerID'] == customer_id_of_highest_order]['TotalCost'].sum()

print("Biggest Order Invoice:", highest_invoice)
print("Country of Biggest Order:", country_of_highest_order)
print("Customer ID of Biggest Order:", customer_id_of_highest_order)
print("Total Purchase by Customer:", total_purchase_by_customer)

Biggest Order Invoice: 581483
Country of Biggest Order: United Kingdom
Customer ID of Biggest Order: 16446.0
Total Purchase by Customer: 2.8999999999941792

In [14]:

#8) Find how many different customers are available for each country save the count in
#dictionary also return countries with highest and lowest customer count

customer_count_per_country = df.groupby('Country')['CustomerID'].nunique()


customer_count_dict = customer_count_per_country.to_dict()


highest_customer_country = max(customer_count_dict, key=customer_count_dict.get)
lowest_customer_country = min(customer_count_dict, key=customer_count_dict.get)

print("Customer count per country:", customer_count_dict)
print("Country with highest customer count:", highest_customer_country)
print("Country with lowest customer count:", lowest_customer_country)

Customer count per country: {'Australia': 9, 'Austria': 11, 'Bahrain': 2, 'Belgium': 25, 'Brazil': 1, 'Canada': 4, 'Channel Islands': 9, 'Cyprus': 8, 'Czech Republic': 1, 'Denmark': 9, 'EIRE': 3, 'European Community': 1, 'Finland': 12, 'France': 87, 'Germany': 95, 'Greece': 4, 'Hong Kong': 0, 'Iceland': 1, 'Israel': 4, 'Italy': 15, 'Japan': 8, 'Lebanon': 1, 'Lithuania': 1, 'Malta': 2, 'Netherlands': 9, 'Norway': 10, 'Poland': 6, 'Portugal': 19, 'RSA': 1, 'Saudi Arabia': 1, 'Singapore': 1, 'Spain': 31, 'Sweden': 8, 'Switzerland': 21, 'USA': 4, 'United Arab Emirates': 2, 'United Kingdom': 3950, 'Unspecified': 4}
Country with highest customer count: United Kingdom
Country with lowest customer count: Hong Kong

In [15]:
#9) Find which stock code was ordered the most by each country

stock_ordered_most = df.groupby(['Country', 'StockCode']).size().reset_index(name='Count')

stock_ordered_most = stock_ordered_most.sort_values(['Country', 'Count'], ascending=[True, False])

stock_ordered_most_by_country = stock_ordered_most.groupby('Country').first().reset_index()

print(stock_ordered_most_by_country[['Country', 'StockCode']])

                 Country StockCode
0              Australia     22720
1                Austria      POST
2                Bahrain    72802B
3                Belgium      POST
4                 Brazil   15056BL
5                 Canada     10133
6        Channel Islands     20725
7                 Cyprus     22423
8         Czech Republic     22231
9                Denmark      POST
10                  EIRE        C2
11    European Community      POST
12               Finland      POST
13                France      POST
14               Germany      POST
15                Greece      POST
16             Hong Kong     22452
17               Iceland     22375
18                Israel     23240
19                 Italy      POST
20                 Japan     21218
21               Lebanon     21165
22             Lithuania     20967
23                 Malta     22768
24           Netherlands      POST
25                Norway      POST
26                Poland     16016
27              Portugal      POST
28                   RSA     20676
29          Saudi Arabia     22361
30             Singapore         M
31                 Spain      POST
32                Sweden      POST
33           Switzerland      POST
34                   USA     22027
35  United Arab Emirates     20961
36        United Kingdom    85123A
37           Unspecified     22150