**List In-Built Functions**

In [ ]:
a = [1,2,3,4,5]
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#Appends only adds value at the last index of the list.
a = [1,2,3,4,5]
print("Before append",a)
a.append(8)
print("After append",a)

Before append [1, 2, 3, 4, 5]
After append [1, 2, 3, 4, 5, 8]

In [ ]:
#clear function removes or clear elements from the list
a = [1,2,3,4,5]
print("Before clear",a)
a.clear()
print("After clear",a)
print(len(a))

Before clear [1, 2, 3, 4, 5]
After clear []
0

In [ ]:
a_list = [1,2,3,4,5]
b_list = a_list
c_list=a_list.copy()
print("Before operation Actual List",a_list)
print("Before operation Equal to List",b_list)
print("Before operation Copy List",c_list)
print("===================================")
a_list.append(8)
print("After operation Actual List",a_list)
print("After operation Equal to List",b_list)
print("After operation Copy List",c_list)

Before operation Actual List [1, 2, 3, 4, 5]
Before operation Equal to List [1, 2, 3, 4, 5]
Before operation Copy List [1, 2, 3, 4, 5]
===================================
After operation Actual List [1, 2, 3, 4, 5, 8]
After operation Equal to List [1, 2, 3, 4, 5, 8]
After operation Copy List [1, 2, 3, 4, 5]

In [ ]:
#Returns frequency of whatever value is passed to the function
a_list=[1,2,3,4,5,7,6,1,2,33,1]
print(a_list.count('a'))
print(a_list.count(1))

0
3

In [ ]:
#Extend Function adds the whole new list as one index
a_list = [1,2,3,4,5,6,7]
a_list.append([8,9,10])
print("Append function", a_list)
print("Append function len", len(a_list))

Append function [1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]
Append function len 8

In [ ]:
#Extend function adds the elements one by one to the old list
a_list = [1,2,3,4,5,6,7]
a_list.extend([8,9,10])
print("Extend function",a_list)
print("Extend function len",len(a_list))

Extend function [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Extend function len 10

In [ ]:
a_list = [1,2,3,4,5,6,7]
a_list.append([8,9,10])
print(a_list)
print(a_list[7]) #The 7th index
print(a_list[7][1])#This print out the first indect from the 7th index which is 9

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]
[8, 9, 10]
9

In [ ]:
a_list = [1,2,3,4,5,6,7]
a_list.append([8,9,10])
print(a_list)
print(a_list[7])
print(a_list[7][::-1]) #The 7th index in a reverse way
print(a_list[7][1])

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]
[8, 9, 10]
[10, 9, 8]
9

In [ ]:
#Index returns the index of the first element found even if there are more
a_list = [11,22,33,44,55,66,77,33]
a_list.index(33)

2

In [ ]:
#insert
a_list = [11,22,33,44,55,66,77,33]
a_list.insert(5,111)#Insert the right number (111) into the first number (5)index position
a_list

[11, 22, 33, 44, 55, 111, 66, 77, 33]

In [ ]:
#pop Removes value from the last index by default unless specified index is made
a_list = [11,22,33,44,55,66,77,33]
print(a_list.pop())
print(a_list.pop(2))
print(a_list)

33
33
[11, 22, 44, 55, 66, 77]

In [ ]:
#Remove funtcion removes only the first element passed from the left even if there are more
a_list = [11,22,33,44,55,66,77,33]
a_list.remove(33)
print(a_list)

In [ ]:
#Reverse Fuction reverse the elements in the list
a_list = [11,22,33,44,55,66,77]
a_list.reverse()
print(a_list)

In [ ]:
#sort function sort out the list in ascending order
a_list = [11,58,33,1,80,5,25]
a_list.sort()
print(a_list)

In [ ]:
#sort function in Descending
a_list = [11,58,33,1,80,5,25]
a_list.sort(reverse=True) # Descending order
print(a_list)

In [ ]:
#Tuple inbuilt functions
a = (1,2,3)
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#count
b_tup=(1,2,3,4,2,4)
b_tup.count(4)

2

In [ ]:
#index returns the index
b_tup=(1,2,3,4,2,4)
b_tup.index(4)

3

In [ ]:
#Question 1) Remove all repeated elements from the list Given below using for loop.
a = [1, 2, 3, 4, 5, 11, 1, 2, 6, 1, 8]
print("List Before duplicate are removed", a)
new_list = []
for i in a:
    if i not in new_list:
        new_list.append(i)
print('List after duplicate are removed',new_list)

[1, 2, 3, 4, 5, 11, 6, 8]

In [ ]:
#Question 2) Print all prime numbers below 100
list_of_prime_numbers= []
for k in range(2,100):
  flag = True
  for s in range(2,k):
    if k%s==0:
      flag=False
      break
  if flag:
    list_of_prime_numbers.append(k)
for prime in list_of_prime_numbers:
  print(prime,"is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

In [ ]:
#3. print list in reverse order using for loop
lst1 = [1, 2, 3, 4, 5]
for i in lst1[::-1]:
    print(i)

5
4
3
2
1

In [ ]:
#4. print multiplication table of 13 using for loop
num = 13
for i in range(1, 11):
  print('13 x',i, '=',num*i)

In [ ]:
#Python program to find out digits in a number
a = input('Enter a number')
k = 0
for i in range(len(a)):
  k = k+1
  print(k)

In [ ]:
#Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.
a=int(input('First number'))
b=int(input('second number'))

smallest_number = min(a,b)

for k in range(smallest_number,-1,-1):
  if a%k==0 and b%k==0:
    print('The GCD is', k)
    break

First number30
second number14
The GCD is 2

In [ ]:
#Question 1 ) Write a program in Python to display the Factorial of a number.

a = int(input('Enter a number'))
factorial = 1
for i in range(1,a+1):

  factorial = factorial * i
print(factorial)

Enter a number5
120

In [ ]:
#WAP to separate positive and negative number from a list
lst1 = [1,5,-4,-6,5,8,4,8,-2,-6,-8,-10,3,5,]
post_num=[]
nega_num=[]
for i in lst1:
  if i > 0:
    post_num.append(i)
  else:
    nega_num.append(i)
print(post_num)
print(nega_num)

[1, 5, 5, 8, 4, 8, 3, 5]
[-4, -6, -2, -6, -8, -10]

Practice

In [ ]:
#sum of multiples of 3 and 5 below 100
total = 0
for i in range(1,100):
  if i%3==0 and i%5==0:
    total = total + i
print(total)

In [ ]:
#1) Write a Python Function that accepts a hyphen-separated sequence of words as input and prints the words in
#a hyphen-separated sequence after sorting them alphabetically.
#Sample Items : green-red-yellow-black-white
#Expected Result : black-green-red-white-yellow

def sort_the_string(words_str):
  words_list = words_str.split("-")
  sorted_list = sorted(words_list)
  print("-".join(sorted_list))

sort_the_string("green-red-yellow-black-white")

black-green-red-white-yellow

In [ ]:
#2.  Write a function that accepts a string and count consonant and vowels in that string

In [ ]:
#3. Write a Python function to check whether a number is "Perfect" or not.
#According to Wikipedia : In number theory, a perfect number is a positive integer that is
#equal to the sum of its proper positive divisors, that is, the sum of its positive divisors
#excluding the number itself (also known as its aliquot sum). Equivalently, a perfect number is
#a number that is half the sum of all of its positive divisors (including itself).
#Example : The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors,
#and 1 + 2 + 3 = 6. Equivalently, the number 6 is equal to half the sum of all its
#positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. The next perfect number is 28 = 1 + 2 + 4 + 7 + 14.
#This is followed by the perfect numbers 496 and 8128.

In [ ]:
#4. Write a program to print twin primes less than 1000. If two consecutive odd numbers are both prime then
# they are known as twin primes

In [ ]:
# 5) Swap first and last element of the list
# a=[1,2,5,10,'1']

In [ ]:
numbers = [1, 2, 3, 4, 5]

total = 0

for num in numbers:

    total += num

print(total)

15

In [ ]:
for i in range(3):

    for j in range(2):

        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
# Initialize the 3x3 matrix
matrix = [
    [7, 8, 9],
    [4, 5, 6],
    [1, 2, 3]
]

num = int(input("Enter a number within the matrix to replace with 'X': "))

if num in matrix[0]:
    matrix[0][matrix[0].index(num)] = 'X'
elif num in matrix[1]:
    matrix[1][matrix[1].index(num)] = 'X'
elif num in matrix[2]:
    matrix[2][matrix[2].index(num)] = 'X'

print(matrix[0])
print(matrix[1])
print(matrix[2])

Enter a number (1-9) to replace with 'X': 4
[7, 8, 9]
['X', 5, 6]
[1, 2, 3]

In [ ]:
x = "Hello"

y = "World"

z = x + y

print(z)

HelloWorld

In [ ]:
x = True

y = False

z = x and y

print(z)

False