In [ ]:
# valid variables and invalid variables

name = 'Anuurag'
# 12gender = 'M'
# @address = '123 Park Street'
_fname = 'Umesh'
gen12der = 'M'
print(name, _fname, gen12der)
last@name = 'Peter'

In [ ]:
#Wednesday August 09, 2023

In [ ]:
Python Data Type
  1. Standard Data Type
    1. Numbers
      1. Integer
      2. Float
      3. Complex
    2. Boolean
    3. String
  2. Data Structure Data Type
    1. List
    2. Tuple
    3. Set
    4. Dictionary

In [ ]:
# Integer : Any whole number (+ve or -ve) is called as integer

int1 = 1947
print(int1)
print(type(int1))

int1 = -1947
print(int1)
print(type(int1))

In [ ]:
# Float : Any combination of whole number and fractional number (+ve or -ve) is called as float.

flt1 = 3.1415
print(flt1)
print(type(flt1))

flt1 = -3.1415
print(flt1)
print(type(flt1))

In [ ]:
# Complex : Combination of integer or float and imagenary number (+ve or -ve) integer or float is called as compex

cmplx1 = 2 + 3j
print(cmplx1)
print(type(cmplx1))

cmplx1 = -2 - 3j
print(cmplx1)
print(type(cmplx1))

In [ ]:
# Boolean : True and False

bool1 = True
print(bool1)
print(type(bool1))

bool1 = False
print(bool1)
print(type(bool1))

In [ ]:
# String
# any combination inside single quotes
# any combination inside double quotes
# any combination inside triple single quotes
# any combination inside triple doublr quotes


str1 = 'Python Programming'
print(str1)
print(type(str1))

str1 = "Python Programming"
print(str1)
print(type(str1))

str1 = '''Python Programming'''
print(str1)
print(type(str1))

str1 = """Python Programming"""
print(str1)
print(type(str1))

In [ ]:
#Data Structure Data Types

In [ ]:
#List
list1 = [1,2,-3,'True','False', 4.2, 5.8,7j, 'These are examples of data types' ]
print(list1)
print(type(list1))

[1, 2, -3, 'True', 'False', 4.2, 5.8, 7j, 'These are examples of data types']
<class 'list'>

In [ ]:
#Tuple
tple = (1,2,-3,'True','False', 4.2, 5.8,7j, 'These are examples of data types')
print(tple)
print(type(tple))

(1, 2, -3, 'True', 'False', 4.2, 5.8, 7j, 'These are examples of data types')
<class 'tuple'>

In [ ]:
#Set

# 1. Set is combination of unique values
# 2. Set is collection of unordered element
# 3. Set is represented by curly brackets
# 4. Set is mutable

set1 = {'a','b','c','D','E','F',1,2,3,'!','@','#','a','b','c','D','E','F',1,2,3,'!','@','#',}
print(set1)
print(type(set1))
set1 = {'x','y','z', 0,1, 2, 3,True,False, '@', '#', '%','x','y','z', 0,1, 2, 3, '@', '#', '%',True,False}
print(set1)
print(type(set1))

{0, 1, 2, 3, 'x', 'z', 'y', '#', '%', '@'}
<class 'set'>

In [ ]:
#Dictionary has key and values
dict1 = {'animals':['dog','cat'], 'birds':('turkey', 'chicken')}
print(dict1)
print(type(dict1))

{'animals': ['dog', 'cat'], 'birds': ('turkey', 'chicken')}
<class 'dict'>