In [1]:
a = {1,2,2,5,1,5,'a','b','c'}
dir(a)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [2]:
# add()	Adds an element to the set.
# If the element already exists, the add() method does not add the element.
ice_cream = {"vanilla", "strawberry", "chocolate"}

ice_cream.add("caramel")#Adding already existing element but does not accept.

print(ice_cream)

{'tiger', 'lion', 'dog', 'cat'}

In [ ]:
ice_cream = {"vanilla", "strawberry", "chocolate"}

ice_cream.add("vanilla")#Adding already existing element but does not accept.

print(ice_cream)

In [ ]:
# clear(). Remove all elements from the fruits set:
ice_cream = {"vanilla", "strawberry", "chocolate"}

ice_cream.clear()

print(ice_cream)

In [11]:
# copy()	Returns a copy of the set
ice_cream = {"vanilla", "strawberry", "chocolate"}

x = ice_cream.copy()

print(x)

{'vanilla', 'chocolate', 'strawberry'}

In [17]:
#difference()	Returns a set containing the difference between two or more sets.
#The returned set contains items that exist only in the first set, and not in both sets.

ice_cream = {"vanilla", "strawberry", "chocolate"}

fruits ={"banana","strawberry","apple"}

diff_set = ice_cream.difference(fruits)

print(diff_set)

{'vanilla', 'chocolate'}

In [16]:
#The difference_update() method removes the items that exist in both sets.
#The difference_update() method is different from the difference() method, because the difference()
#method returns a new set, without the unwanted items, and the difference_update() method removes the
#unwanted items from the original set.

x = {"vanilla", "strawberry", "chocolate"}

y ={"banana","strawberry","apple"}
x.difference_update(y)
print(x)

{'vanilla', 'chocolate'}

In [22]:
# The discard() method removes the specified item from the set.
#This method is different from the remove() method, because the remove() method will raise
#an error if the specified item does not exist, and the discard() method will not.

fruits = {"vanilla", "strawberry", "chocolate"}
fruits.discard("strawberry")
print(fruits)

{'vanilla', 'chocolate'}

In [23]:
#The intersection() method returns a set that contains the similarity between two or more sets.

# Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

x = {"vanilla", "strawberry", "apple"}

y ={"banana","strawberry","apple"}

z = {"microsoft", "apple", "google"}

a = x.intersection(y,z)
print(a)

{'apple'}

In [26]:
#The intersection_update() method removes the items that is not present in both sets
 #(or in all sets if the comparison is done between more than two sets).

#The intersection_update() method is different from the intersection() method, because the
#intersection() method returns a new set, without the unwanted items, and the intersection_update()
#method removes the unwanted items from the original set.

x = {"vanilla", "strawberry", "apple"}

y ={"banana","strawberry","apple"}

z = {"microsoft", "apple", "google"}

x.intersection_update(y,z)
print(x)

{'apple'}

In [29]:
#The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

x = {"vanilla", "chocolate", "cherry"}

y ={"banana","strawberry","apple"}

z = x.isdisjoint(y)
print(z)

True

In [30]:
x = {"vanilla", "apple", "cherry"} #apple is common in both set

y ={"banana","strawberry","apple"}

z = x.isdisjoint(y)
print(z)

False

In [32]:
# The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.

x = {"vanilla", "apple", "cherry"}

y ={"vanilla","strawberry","apple","cherry"}

z = x.issubset(y)
print(z)

True

In [34]:
#The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it returns False.

x = {"vanilla","strawberry","apple","cherry"}

y ={"vanilla", "apple", "cherry"}

z = x.issuperset(y)
print(z)

True

In [36]:
#The pop() method removes a random item from the set.
#This method returns the removed item.

x = {"vanilla","strawberry","apple","cherry"}

x.pop()

print(x)

{'apple', 'cherry', 'strawberry'}

In [39]:
# The remove() method removes the specified element from the set.

#This method is different from the discard() method, because the remove()
#method will raise an error if the specified item does not exist, and the discard() method will not.

x = {"apple", "banana", "cherry"}

x.remove("banana")

print(x)

{'cherry', 'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}

x.remove("strawberry") #strawberry does not exist in set x so this prints error.

print(x)

In [41]:
#The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.
#Meaning: The returned set contains a mix of items that are not present in both sets.

x = {"apple", "chocolate", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'cherry', 'chocolate', 'microsoft'}

In [43]:
#The symmetric_difference_update() method updates the original set by removing items that are present in both sets,
#and inserting the other items.

x = {"apple", "chocolate", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'chocolate', 'cherry', 'microsoft'}

In [44]:
#The union() method returns a set that contains all items from the original set, and all items from the specified set(s).
#If an item is present in more than one set, the result will contain only one appearance of this item.

x = {"apple", "chocolate", "cherry"}
y = {"google", "microsoft", "apple"} #apple is present in both sets so only one appears

z = x.union(y)

print(z)

{'google', 'cherry', 'chocolate', 'apple', 'microsoft'}

In [46]:
# The update() method updates the current set, by adding items from another set (or any other iterable).
#If an item is present in both sets, only one appearance of this item will be present in the updated set.

x = {"apple", "chocolate", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'google', 'cherry', 'chocolate', 'apple', 'microsoft'}